{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain "Admin.Design.Feature" %}


{% block content %}
    {{ form(form) }}
    {% if ordersSum %}
        <h2>Zestawienie sprzedaży</h2>
        <ul>
            <li>Łączna suma zamówień: {{ ordersSum }} </li>
            <li>Suma kosztów przesyłki: {{ shippingSum }}</li>
            <li>Sprzedanych produktów: {{ soldTotal }}</li></ul>
    {% endif %}
    {% if downloadFile %}
        <script>
            window.open("{{ downloadFile }}", '');
            </script>
    {% endif %}
{% endblock %}
